##  *** 아래 Cell은 각 PC마다 다른 숫자(Hash값)를 생성시키는 Program입니다.***
실행 ( Run ) 시켜 주십시요...

In [66]:
import socket
IP_addr = socket.gethostbyname(socket.gethostname())
from uuid import getnode as get_mac
mac = get_mac()
mac_addr=str(mac)
addr=IP_addr+mac_addr
import hashlib
hash_object= hashlib.sha1(addr.encode('utf-8'))
signature = int(hash_object.hexdigest(), 16) % 10**8
print(str(signature))

85468554

## Tuple 연습
#### Tuple은 list와 유사. 그러나  immutable로서  append(), extend(), remove(), insert()는 적용불가

In [2]:
T = (1,2,3,4)

In [4]:
T[0]

1

In [5]:
T[2:]

(3, 4)

In [6]:
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [7]:
T.index(4)

3

#### 그러나  T에 다시 assign하는 것은 가능

In [8]:
T = (1,2,3,4)
T = (2,)+T[1:]
T

(2, 2, 3, 4)

### Dictionary
#### dictionary는 key를 사용해서 접근(access),  순서는 의미 없음.

In [9]:
D={'food':'spam', 'quantity':4,'color':'pink'}
D['food']

'spam'

####  a += 1 은   a = a+1과 동일

In [10]:
D['quantity']+=1
D

{'color': 'pink', 'food': 'spam', 'quantity': 5}

####  dictionary의 여러 operation을 실험해 보자 - keys() / values() / items()   그리고 list()

In [19]:
d= {'user':'bozo', 'p':1234,'i':34}
d.keys()

dict_keys(['user', 'p', 'i'])

In [12]:
list(d.keys())

['user', 'p', 'i']

In [13]:
d.values()

dict_values(['bozo', 1234, 34])

In [14]:
list(d.values())

['bozo', 1234, 34]

In [15]:
d.items()

dict_items([('user', 'bozo'), ('p', 1234), ('i', 34)])

In [16]:
list(d.items())

[('user', 'bozo'), ('p', 1234), ('i', 34)]

###  key로 dictionary를 접근해서 del 적용

In [20]:
del d['user']
d

{'i': 34, 'p': 1234}

#### dictionary를 모두 clear한다.

In [21]:
d.clear()
d

{}

#### dictionary에 대해서 key로 index하는 것을 실험

In [22]:
rec = {'name':{'first':'Bob','last':'Smith'}, 'jobs':['dev','mgr'],'age':40.5}

In [23]:
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [24]:
rec['jobs'][-1]

'mgr'

In [25]:
rec['jobs'].append('janitor')
rec

{'age': 40.5,
 'jobs': ['dev', 'mgr', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

### 입출력을 연습 - input()

In [26]:
num = input('Enter a number : ')

Enter a number : 21

#####  input으로 받아들인 것은 모두 string이다

In [27]:
num

'21'

In [28]:
int(num)

21

In [29]:
float(num)

21.0

### formatted output

In [32]:
x=12.3456789
print('The value of x is %6.2f'%x)

The value of x is  12.35

In [35]:
print('The value of x is %6.4f'%x)

The value of x is 12.3457

#### if 문장을 실험해 보자

In [36]:
x = int(input("Please enter an iteger : "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0 :
    print('Zero')
elif x ==1 :
    print('Single')
else : 
    print('More')

Please enter an iteger : 21
More

#### range()

In [37]:
range(10)

range(0, 10)

In [38]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
range(1,10,3)

range(1, 10, 3)

In [40]:
list(range(1,10,3))

[1, 4, 7]

In [42]:
list(range(-10,-100,-30))

[-10, -40, -70]

#### for loop 실험

In [46]:
for sc in 'Hello World' :
    print(sc,end = ':')

H:e:l:l:o: :W:o:r:l:d:

In [47]:
words = ['cat', 'window', 'defenestrate']
for w in words :
    print(w,len(w))

cat 3
window 6
defenestrate 12

In [49]:
for(x,y) in [('a',1), ('b',2),('c',3),('d',4)] :
    print(x)

a
b
c
d

In [51]:
T = [(x,2),(3,4),(5,6)]
for (a,b) in T :
    print(a,b)

d 2
3 4
5 6

In [52]:
D = {'a':1, 'b':2,'c':3}
for key in D :
    print(key, '=>', D[key])

a => 1
b => 2
c => 3

In [54]:
a = ['Mary', 'had', 'a', 'littel', 'lamb']
for i in range(len(a)) :
    print(i,a[i])

0 Mary
1 had
2 a
3 littel
4 lamb

In [56]:
for i in range(1,6) :
    if i ==4 :
        break
    print(i)

1
2
3

In [57]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [58]:
for i in range(1,6) :
    if i ==4 :
        continue
    print(i)

1
2
3
5

In [59]:
for n in range(2,10):
    for x in range(2,n):
        if n% x == 0 :
            print(n, "equals", x, "*", n/x)
            break
    else:
        print(n,"is a prime number")

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [60]:
for num in range(2,10):
    if num % 2 ==0:
        print("Found an even number", num)
        continue
    print("Found a odd number",num)

Found an even number 2
Found a odd number 3
Found an even number 4
Found a odd number 5
Found an even number 6
Found a odd number 7
Found an even number 8
Found a odd number 9

In [61]:
a=0
b=10
while a < 10:
    print(a,end = ' ')
    a = a+1

0 1 2 3 4 5 6 7 8 9

In [64]:
while True : 
    reply = input('Enter text : ')
    if reply == 'stop' :
        break
    try :
        num = int(reply)
    except:
        print('Bad !'*8)
    else:
        print(num**2)
print('bye')

Enter text : 33.3
Bad !Bad !Bad !Bad !Bad !Bad !Bad !Bad !
Enter text : 3
9
Enter text : stop
bye

In [65]:
while True : 
    try :
        x= int(input("Please enter a integer num : "))
        break
    except ValueError:
        print('oops')
print('The keyboard input integer is ',x)

Please enter a integer num : 14
The keyboard input integer is  14