##  아래 Cell은 각 PC마다 다른 숫자(Hash값)를 생성시키는 Program입니다.
### 실행 ( Run ) 시켜 주십시요...

In [1]:
from uuid import getnode as get_mac
mac = get_mac()
mac_addr=str(mac)
import hashlib
hash_object= hashlib.sha1(mac_addr.encode('utf-8'))
signature = int(hash_object.hexdigest(), 16) % 10**8
print(str(signature))

6824137

## math라는 module을 import해서 사용하는 방법을 연습

In [2]:
import math

#### 참고 : dir(object) function은 해당 object가 가지고 있는 attribute들을 list형태로 만들어 주는 function임.  이를 통해서 가지고 있는 function, 상수 (예 : pi)들을 조회할 수 있음.

In [3]:
math_lib = dir(math)

In [4]:
math_lib

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [5]:
math.__doc__

'This module is always available.  It provides access to the\nmathematical functions defined by the C standard.'

In [6]:
math.sin(math.pi/2)

1.0

In [8]:
math.cos(math.pi/2)

6.123233995736766e-17

In [10]:
math.tan(math.pi/4)

0.9999999999999999

In [11]:
math.log10(100)

2.0

In [12]:
math.log(math.e)

1.0

In [13]:
math.pi,math.e

(3.141592653589793, 2.718281828459045)

In [14]:
math.log(1024,2)

10.0

### random number를 생성시키는 module 
#### 예를 들어 주사위를 던져서 나오는 숫자처럼, 확률상으로 같은 확률로 발생하지만, 특정 시기에 어떤 값이 나올 지를 알 수 없는 상황을 만들 수 있음

In [15]:
import random

In [19]:
random_list = dir(random)

In [21]:
random_list

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

### 0 ~ 1사이의 숫자를 random하게 발생시키는 함수

In [22]:
random.random()

0.7732638934009776

In [24]:
for i in range(60):
    x = random.random()
    print(int(x*100),end = ' ')

59 15 4 77 34 13 94 5 87 63 50 96 71 27 15 8 60 65 42 45 69 0 14 28 42 79 83 32 36 9 21 61 65 54 12 71 62 50 38 49 67 55 74 80 14 2 3 30 73 14 34 24 96 31 5 87 86 30 79 3

### 위와 동일한 상황을 만들 수 있음.  randrange(100) : 0 ~99 까지의 정수 값을 random하게 생성시키는 함수

In [25]:
for i in range(60):
    x = random.randrange(100)
    print(x, end = ' ')

92 91 16 6 17 92 28 43 57 13 97 35 86 54 75 89 88 32 33 55 99 10 72 6 67 94 65 27 65 42 1 36 11 38 59 19 85 94 8 4 90 67 1 92 59 78 70 98 80 16 58 84 93 50 79 47 83 69 82 89

In [27]:
random.randrange(6)# 0,1,2,3,4,5 중의 random하게 정수를 발생시킴.

3

In [30]:
for i in range(60):
    print(random.randrange(6), end = ' ')

4 3 0 1 4 0 0 0 4 4 2 4 2 4 2 0 4 2 2 0 0 1 3 1 2 4 2 5 3 1 1 2 3 2 3 2 2 2 2 3 1 0 0 1 5 1 0 3 2 0 2 2 1 3 4 4 5 2 5 5

### 주어진 list중에서 random하게 선택하는 함수

In [31]:
random.choice(['apple','pear','banana'])

'banana'

In [32]:
random.choice(['apple','pear','banana'])

'pear'

In [33]:
random.choice(['apple','pear','banana'])

'pear'

### 통계를 처리할 수 있는 module을 연습

In [34]:
import statistics

In [35]:
stat_list = dir(statistics)
stat_list

['Decimal',
 'Fraction',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_counts',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'chain',
 'collections',
 'decimal',
 'groupby',
 'harmonic_mean',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'numbers',
 'pstdev',
 'pvariance',
 'stdev',
 'variance']

In [36]:
data = [2.75,1.75,1.25,0.25,0.5,1.25,3.5]
statistics.mean(data)

1.6071428571428572

### 위의 mean은 평균을 구하는 것.
### median은 값들을 sorting한 후에 중간에 위치한 값을 추출

In [37]:
statistics.median(data)

1.25

In [38]:
statistics.variance(data)

1.3720238095238095

### date와 time을 처리하는 module연습

In [39]:
from datetime import date

In [40]:
now = date.today()  # 오늘 날짜를 얻는 함수

In [41]:
now

datetime.date(2019, 4, 2)

### strftime convert time to string 

#### format 예

<table>
	<thead>
		<tr>
			<td><strong>Directive</strong></td>
			<td><strong>Meaning</strong></td>
			<td><strong>Example</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><code>%a</code></td>
			<td>Abbreviated weekday name.</td>
			<td>Sun, Mon, ...</td>
		</tr>
		<tr>
			<td><code>%A</code></td>
			<td>Full weekday name.</td>
			<td>Sunday, Monday, ...</td>
		</tr>
		<tr>
			<td><code>%w</code></td>
			<td>Weekday as a decimal number.</td>
			<td>0, 1, ..., 6</td>
		</tr>
		<tr>
			<td><code>%d</code></td>
			<td>Day of the month as a zero-padded decimal.</td>
			<td>01, 02, ..., 31</td>
		</tr>
		<tr>
			<td><code>%-d</code></td>
			<td>Day of the month as a decimal number.</td>
			<td>1, 2, ..., 30</td>
		</tr>
		<tr>
			<td><code>%b</code></td>
			<td>Abbreviated month name.</td>
			<td>Jan, Feb, ..., Dec</td>
		</tr>
		<tr>
			<td><code>%B</code></td>
			<td>Full month name.</td>
			<td>January, February, ...</td>
		</tr>
		<tr>
			<td><code>%m</code></td>
			<td>Month as a zero-padded decimal number.</td>
			<td>01, 02, ..., 12</td>
		</tr>
		<tr>
			<td><code>%-m</code></td>
			<td>Month as a decimal number.</td>
			<td>1, 2, ..., 12</td>
		</tr>
		<tr>
			<td><code>%y</code></td>
			<td>Year without century as a zero-padded decimal number.</td>
			<td>00, 01, ..., 99</td>
		</tr>
		<tr>
			<td><code>%-y</code></td>
			<td>Year without century as a decimal number.</td>
			<td>0, 1, ..., 99</td>
		</tr>
		<tr>
			<td><code>%Y</code></td>
			<td>Year with century as a decimal number.</td>
			<td>2013, 2019 etc.</td>
		</tr>
		<tr>
			<td><code>%H</code></td>
			<td>Hour (24-hour clock) as a zero-padded decimal number.</td>
			<td>00, 01, ..., 23</td>
		</tr>
		<tr>
			<td><code>%-H</code></td>
			<td>Hour (24-hour clock) as a decimal number.</td>
			<td>0, 1, ..., 23</td>
		</tr>
		<tr>
			<td><code>%I</code></td>
			<td>Hour (12-hour clock) as a zero-padded decimal number.</td>
			<td>01, 02, ..., 12</td>
		</tr>
		<tr>
			<td><code>%-I</code></td>
			<td>Hour (12-hour clock) as a decimal number.</td>
			<td>1, 2, ... 12</td>
		</tr>
		<tr>
			<td><code>%p</code></td>
			<td>Locale&rsquo;s AM or PM.</td>
			<td>AM, PM</td>
		</tr>
		<tr>
			<td><code>%M</code></td>
			<td>Minute as a zero-padded decimal number.</td>
			<td>00, 01, ..., 59</td>
		</tr>
		<tr>
			<td><code>%-M</code></td>
			<td>Minute as a decimal number.</td>
			<td>0, 1, ..., 59</td>
		</tr>
		<tr>
			<td><code>%S</code></td>
			<td>Second as a zero-padded decimal number.</td>
			<td>00, 01, ..., 59</td>
		</tr>
		<tr>
			<td><code>%-S</code></td>
			<td>Second as a decimal number.</td>
			<td>0, 1, ..., 59</td>
		</tr>
		<tr>
			<td><code>%f</code></td>
			<td>Microsecond as a decimal number, zero-padded on the left.</td>
			<td>000000 - 999999</td>
		</tr>
		<tr>
			<td><code>%z</code></td>
			<td>UTC offset in the form +HHMM or -HHMM.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><code>%Z</code></td>
			<td>Time zone name.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><code>%j</code></td>
			<td>Day of the year as a zero-padded decimal number.</td>
			<td>001, 002, ..., 366</td>
		</tr>
		<tr>
			<td><code>%-j</code></td>
			<td>Day of the year as a decimal number.</td>
			<td>1, 2, ..., 366</td>
		</tr>
		<tr>
			<td><code>%U</code></td>
			<td>Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.</td>
			<td>00, 01, ..., 53</td>
		</tr>
		<tr>
			<td><code>%W</code></td>
			<td>Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.</td>
			<td>00, 01, ..., 53</td>
		</tr>
		<tr>
			<td><code>%c</code></td>
			<td>Locale&rsquo;s appropriate date and time representation.</td>
			<td>Mon Sep 30 07:06:05 2013</td>
		</tr>
		<tr>
			<td><code>%x</code></td>
			<td>Locale&rsquo;s appropriate date representation.</td>
			<td>09/30/13</td>
		</tr>
		<tr>
			<td><code>%X</code></td>
			<td>Locale&rsquo;s appropriate time representation.</td>
			<td>07:06:05</td>
		</tr>
		<tr>
			<td><code>%%</code></td>
			<td>A literal &#39;%&#39; character.</td>
			<td>%</td>
		</tr>
	</tbody>
</table>

In [47]:
now.strftime("%m-%d-%y. %d %b %Y is a %A and the%d day of %B")

'04-02-19. 02 Apr 2019 is a Tuesday and the02 day of April'

In [50]:
birthday = date(1964, 7, 31)
age = now - birthday

In [51]:
age.days

19968